snippet createEl "Create Element" b
var ${1:Variable} = document.createElement("${2:TagName}");$0
endsnippet

snippet al "alert" b
alert("${1:alert}");$0
endsnippet


#########################
#  ANGULAR JS SNIPPETS  #
#########################

snippet ng-ctrl "AngularController" b
.controller("${1:Name}", ["$${2:dep}", function($${3:$2}){
	$0
}]);
endsnippet

snippet ng-app "Define angular pp" b
angular.module("$1"${2:,[]})$0
endsnippet
